/* Reset */
html, body, ul, ol, li, p,h1, h2, h3, h4, h5, h6,form, fieldset, a {margin: 0;padding: 0;border: 0;}
a img{border:none;}
a{cursor:pointer;color:#0099CC;font-size:12px;text-decoration:none;}
a:active{outline: none;}
a:focus,select{outline:none;}
.clear{clear:both;}
p{font-size:0.8em; line-height:1.6em; color:#333; margin:0;}
img{ border:0; vertical-align:top;}
ul{list-style:none;}
th,td{padding:2px;}
body{background:#ccc;font-size: 100.01%; font-family:tahoma, helvetica, sans-serif;}
ul,ol{list-style:none;}
caption,th,td{font-weight:normal;text-align:left;}
input,textarea,select{border:1px solid #ccc;}
input:focus,textarea:focus,select:focus{border:1px solid #999;}
input[type="radio"],input[type="checkbox"]{border:0 !important;}

/* Container */
#container{width:960px;margin:0 auto;background:url('../image/bg.jpg') repeat-x;} 

/* Top */
.top{padding-left:15px;line-height:9px;position:relative}
	
	#language{position:absolute;right:-31px;padding:0 7px 7px;background:#fff;}
		#language img{display:block;cursor:pointer;}
	
	
	.top p{padding:0;line-height:26px;}
	.top a{color:#666;}
		.top a:hover,.top .links li a:hover{color:#999}
	p.welcome{float:left;width:auto;color:#444}
		p.welcome a{text-decoration:underline;}
	
	.top .links{float:right;width:auto;}
		.top .links li{display:inline-block;padding-right:5px;}
			.top .links li a{color:#666;line-height:26px;display:block;float:left;}
				
	.currency{float:left;width:auto;padding-left:15px;line-height:26px;}
		.currency p{color:#555;}
			
		/* Mini Cart */
		#cart{float:right;width:auto;background:#DFE0DA url('../image/cartBg.jpg') no-repeat left;padding:0 15px 0 30px;position:relative;}
			#cart .mini_cart .heading p{background:url('../image/cart.jpg') no-repeat left;padding-left:25px;}
		#cart .content{display:none;float:none;position:absolute;right:0;top:26px;background:#DFE0DA;width:260px;padding:0 0 10px 0;z-index:100;text-align:right;font-size:12px;}
			#cart .mini_cart .remove img{display:inline-block;cursor:pointer;}
			#cart.active .content{display:block;}
			#cart .mini-cart-info table,#cart .mini-cart-total table{background:#DFE0DA !important;padding:10px;width:260px;border:1px 0}
			#cart .mini-cart-total{border-top:1px solid #ccc;margin-top:5px;padding:5px 0;}
				#cart .mini-cart-total td{font-weight:normal;padding:6px;}
		#cart .mini-cart-total table{border-top:0;font-size:13px;color:#333;}
			#cart .mini-cart-total table td{text-align:right;}
		#cart .mini-cart-info .image{padding:0;border:0;}
			#cart .empty{background:#DFE0DA;padding:10px;text-align:center;width:240px;font-size:12px;color:#333;}
		#cart .checkout{background:#DFE0DA;width:238px;text-align:right;padding:10px;}
			#cart .checkout a{border:1px solid #000;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;padding:5px 10px;text-align:center;color:#fff;font-weight:bold;font-size:12px;background:#333;text-decoration:none;}
				#cart .checkout a:hover{text-decoration:underline;}
		

/* Header */
	#header{padding:0 15px;border-bottom:1px solid #ccc}
		#header h1,a#logo{padding:20px 0 15px 0;float:left;width:auto;position:relative;}
			#header h1 img,a#logo img{position:absolute;z-index:2;}
				#header h1 span,a#logo span{position:absolute;z-index:1;}
				
			/* Categories */
			ul.categories{float:right;width:auto;line-height:72px;}
				ul.categories li{float:left;width:auto;padding-right:15px;position:relative;}
					ul.categories li a{float:left;width:auto;display:block;color:#666;font-weight:bold;}
						ul.categories li a:hover{color:#F33;}
			
			/* Level 1 */
						ul.categories li > ul{background:#fff;position:absolute;top:70px;left:0;width:100px;z-index:10;-moz-border-radius:0 0 5px 5px;display:none;border:1px solid #ccc;} 
							ul.categories li > ul li{padding:5px 5px;float:none;padding:5px 0;border-bottom:1px solid #eee;padding-left:10px;}
							ul.categories li > ul li.last{border:0;}
							ul.categories li > ul li a{line-height:normal;float:none;padding:0;font-weight:normal;}
							ul.categories li.active > ul li a{background:none;color:#999;}
								ul.categories li.active > ul li a:hover{color:#D4335F;}
			
			/* Search */
			#header #search{float:right;width:auto;line-height:72px;position:relative;}
				#search input{padding:4px;color:#444}
				#search .button-search{background:url('../image/searchBtn.jpg') no-repeat;width:23px;height:23px;position:absolute;top:26px;right:3px;cursor:pointer;}
			
			
/* Latest Products */
.latest ul.items li{float:left;width:240px;height:244px;overflow:hidden;position:relative;cursor:pointer;}
	.latest ul.items li a{display:block;float:left;width:240px;}
		.category .product-grid li{cursor:pointer;}
	.latest ul.items li .details,.category .product-grid li .details,.search ul.items li .details{position:absolute;top:0;left:0;width:220px;height:244px;background:url('../image/hover.png') no-repeat;padding:0 10px;display:none;}
		.latest .details h3,.category .product-grid li .details h2,.search ul.items li .details h2{float:left;width:155px;}
			.latest .details .price,.category .product-grid li .details .price,.search ul.items li .details .price{float:right;width:50px;text-align:right;color:#F33;font-weight:bold;font-size:11px;line-height:normal;}
			.price-old{text-decoration:line-through;color:#999;}
				.latest .details h3,.category .product-grid li .details h2,.search ul.items li .details h3{line-height:normal;font-size:12px;}
					.latest .details h3 a,.category .product-grid li .details h2 a,.search ul.items li .details h2 a{color:#666;font-weight:normal;}
						.latest .details h3 a:hover,.category .product-grid li .details h2 a:hover,.search ul.items li .details h2 a{text-decoration:underline;}
				.latest .bottom,.category .product-grid li .bottom,.search .details .bottom{position:absolute;bottom:10px;}

			
/* Left Sidebar */
#column-left{float:left;width:175px;} 
	#column-left .box-heading{background:url('../image/blockTitle.jpg') repeat-x;border:1px solid #F8CD7F;line-height:37px;padding-left:15px;color:#E7840F;font-size:12px;font-weight:bold;}
		#column-left .box-content{border:1px solid #E2E2E2;border-top:0;}
			#column-left .box-category li{background:#F2F2F2;border-bottom:1px solid #E2E2E2}
				#column-left .box-category li a{padding:10px 15px;display:block;color:#666666;border-top:1px solid #fff;}
					#column-left .box-category li a:hover{background:#fff;}
		#column-left .box,#column-left .banner{margin-bottom:12px;}
		
		

/* Footer */
.footer,.contentBottom{background:#171717;padding:0 18px;}
	.contentBottom{padding:18px 18px 0;}
		.welcomeMod{float:left;width:615px;}
			.welcomeMod img{display:block;}
				.welcomeMod p{color:#666;font-size:12px;}
				
		/* Banner */
		.contentBottom .banner{float:right;width:auto;}
		
			.informations{clear:both;float:left;margin:25px 0 15px;width:100%;}
				.informations .box-heading{display:none;}
					.informations li{float:left;width:auto;padding-right:10px;}
						.informations li a{float:left;width:auto;color:#555;}
						 .informations{border-top:1px solid #202020;padding:10px 0;}
							.informations a:hover{color:#999;}
	
					.fooLinks a:hover{text-decoration:underline;}
	.powered{text-align:center;padding:10px 0;}

/* Inner Pages */
.breadcrumb{width:100%;padding:10px 0;font-size:12px;}
	.breadcrumb li{display:inline;}
#content{background:#fff;padding:0 25px 25px;}
	#content h1,body.category #content .product-list h2{font-size:16px;font-family: 'PT Sans Narrow', sans-serif;color:#666;padding-bottom:10px;}
	.search #content{padding:0}
		.search .breadcrumb{padding:10px 15px;}
		
		.search .items li{cursor:pointer;}

/* Cart */
.cart a.button,.checkout #content .button,#button-cart{background:#333;-moz-border-radius:3px;color:#fff;padding:4px 10px;float:left;width:auto;margin-right:15px;cursor:pointer;}
	.cart a.button:hover,.checkout #content .button:hover,#button-cart:hover{background:#222;}
		.checkout #content .button{float:none;}
	
	.wishlist,.compare{float:left;width:auto;padding-right:10px;font-size:12px;line-height:22px;}
		.wishlist a,.compare a{color:#999;}
			.wishlist a:hover,.compare a:hover{color:#666}

/* Notification */
#notification{background:#ddd;color:#333;text-align:center;font-size:12px;}
	#notification .attention{padding:10px;}
		#notification img{padding:5px;}

/* Category Pages */
body.category #content{padding:0;}
.cat_items{}
	body.category #content .product-filter h1{float:left;width:auto;color:#F33;padding:0;border:0;margin:0;}
	.pagination{font-size:12px;background:#f1f1f1;padding:5px 15px;color:#333;}
	
	/* Category Grid */
	.product-grid li{float:left;width:240px;height:244px;overflow:hidden;position:relative;}
		.product-grid .cart,.product-grid .wishlist,.product-grid .compare,.product-grid .rating,.product-grid .description{display:none;}
			body.category #content .product-grid h2{padding:0;}
			
	/* Category List */
	ul.product-list li{border-bottom:1px solid #f1f1f1;}
	.product-list .image{float:left;width:240px;}
	.product-list .right{float:right;width:700px;}
		body.category #content .product-list h2{padding:10px 0;border:0;margin:0;}
		.product-list h2 a{color:#666;font-size:14px;}
			.product-list h2 a:hover{color:#F33;}
			.product-list .description{font-size:12px;color:#333;}
			.product-list .price{color:#F33;font-weight:bold;padding:10px 0;}
			
		/* Product Filter */
		.product-filter{padding:0 15px;font-size:12px;color:#666;line-height:30px;background:#f1f1f1;}
			.product-filter .display{float:right;width:auto;}
			.product-filter .limit,.product-filter .sort{float:right;padding-right:10px;width:auto;}
			.product-filter input{padding:0;}

/* Product Page */
.pWrapper{border-top:1px solid #ccc;}
body.product_page #content{padding:0;} 
	.product_page .breadcrumb{padding:8px 15px;background:#f1f1f1;color:#333;width:930px;}
		.productDetails p{padding-bottom:10px;}
		.product_page .breadcrumb a{color:#999;}
			.product_page .breadcrumb a:hover{color:#777}
		.product_page #content h1{border-bottom:1px solid #CFCFCF;margin-bottom:10px;}
		.product_page .left{width:420px;float:left;position:relative;}
			.image-additional{position:absolute;top:0;padding:5px;}
				.image-additional li{display:block;margin-bottom:2px;border:1px solid #ddd}
		.product_page .right{float:left;width:499px;padding:20px;background:#fff url('../image/deBg.jpg') repeat-x top;position:relative;border-left:1px solid #fff;}
		.productDetails p.price{color:#333;font-weight:bold;font-size:14px;font-family: 'PT Sans Narrow', sans-serif;}
			.product_page .productDetails p.price{padding-bottom:10px;position:absolute;top:19px;right:15px;}

	.productDetails p{color:#555;}

			/* Qty Add To Cart */
			.product_page .addTo{padding:10px 0}
			.product_page #content  .addTo label,.product_page #content .addTo input,.product_page #content .reviews label,.product_page #content .reviews input{display:inline;}
				.product_page .addTo .qty{font-size:12px;}
					.product_page .qtyInput{float:left;width:auto;}
						.product_page #button-cart{margin-left:15px;}
			
				.productDetails{float:left;width:390px;}
				
		/* Share */
		ul.share{float:left;width:100%;border-top:1px solid #e6e8ec;padding:10px 0}
		ul.share li{float:left;width:auto;font-size:12px;color:#999;padding-right:10px;}
			ul.share a{color:#333;}
				ul.share a:hover{color:#999;}
		
				/* Related Products */
				.related{float:right;width:100px}
					.related .heading{background:#666;color:#fff;font-size:11px;padding-left:5px;}
					.box-related{padding:5px;background:#fff;border:1px solid #D0D0D2;border-top:0;}
					.box-related li{text-align:center;padding-bottom:5px;}
				
				/* Reviews */
				.productWrapper .reviews label{float:left;width:125px;font-size:12px;color:#333;}
					.productWrapper .reviews input,.productWrapper .reviews textarea{margin-bottom:10px;}	
						.rate{font-size:12px;color:#333;padding:10px 0}
						.productWrapper .buttons{padding:10px 0}
						#captcha{display:block;}
				
				/* Options */
				.hasOptions{background:#fff;border:1px solid #D0D0D2;}
					.hasOptions .heading{font-weight:bold;border-bottom:1px solid #E6E8EC;margin-bottom:5px;background:#666;color:#fff;padding:3px 10px;border:1px solid #666;}
						.opWrap{font-size:12px;padding:10px 10px 0;}
							#content .opWrap label{display:inline;}
							.opWrap .required{color:#F33;}
							.opWrap label{width:125px;}
								.opWrap select{margin-bottom:10px;font-size:12px;padding:2px;}
							.hasOptions .addTo{padding:10px;}
	
	/* Column Right */
	#column-right{float:right;width:160px;}
		#column-right img{width:160px;}
												
/* Shopping Cart */
.shopping_cart #content h1{margin:0;border:0;}
body.shopping_cart table{width:100%;border:1px solid #E2E2E2;font-size:12px;color:#555;border-collapse:collapse;}
	.shopping_cart thead tr td{padding:10px;font-weight:bold;background:#eee;text-align:center;border-bottom:1px solid #E2E2E2;}
	.shopping_cart tbody tr{border-bottom:1px solid #E2E2E2;}
		.shopping_cart tbody tr td{text-align:center;}
	.shopping_cart .cartModule{float:left;width:60%;background:#fff;margin-top:15px;border:1px solid #e2e2e2;padding:10px;}
input.button{border:0;}
	.shopping_cart .cartModule table{border-collapse:collapse;}
	.cartModule h2{color:#333;font-size:15px;}
	.cartModule table.radio{padding:10px 10px 0;width:96%;margin:5px 0 0;}
	.cartModule table.radio td{border:0;text-align:left;padding-bottom:10px;}
	.cart-module .content{display:none;border:1px solid #e4e4e4;padding:10px;width:96%;border-top:0;background:#f1f1f1;font-size:14px;color:#333}
	.cart-module table .selector{margin-bottom:4px;}
.cart-module .cart-heading {border: 1px solid #e4e4e4;padding: 8px 8px 8px 22px;font-weight: bold;font-size: 13px;color: #555555;cursor: pointer;background: #F8F8F8 url('../image/arrow-right.png') 10px 50% no-repeat;}
.cart-module .active {background: #F8F8F8 url('../image/arrow-down.png') 7px 50% no-repeat;}
.cart-module .cart-content {background:#fff;padding:10px 15px;display: none;overflow: auto;margin-bottom:5px;border:1px solid #e4e4e4;border-top:0;font-size:12px;color:#333;}
	.shopping_cart .cart-module table td{padding:0;border:0;text-align:left;width:115px;}
	
		.shopping_cart .cart-module table{border:none;text-align:left;}
			.shopping_cart .cart-module table tr{border:0;}
			.shopping_cart .cart-module table td{text-align:left;}
		.shopping_cart .cart-module div.cart-heading{background:#ddd url('../image/arrowDown.jpg') no-repeat right;cursor:pointer;padding:5px 10px;font-size:12px;border-bottom:1px solid #ccc;border-top:1px solid #fff;}
		.shopping_cart .cart-module .cart-content{padding:10px;border:1px solid #ccc;border-top:0;display:none;font-size:12px;color:#333;}
			.cart-module .buttons{padding-top:10px;}
		
		.shopping_cart .cart-total{float:right;width:250px;font-size:14px;text-align:right;margin-top:10px;border:1px solid #e2e2e2;padding:10px;}
		.shopping_cart .cart-total table{width:100%; border-collapse:collapse;margin-bottom:10px;}
			.shopping_cart .cart-total table td{text-align:right;padding:4px;border-bottom:1px solid #e2e2e2;color:#333;}
				.shopping_cart .cart-total table td strong{text-align:right;display:block}
				
				.shopping_cart .cart-total .buttons{margin:5px 0;}
				.shopping_cart .cart-total a.button,.cart-module input.button{background:#333;display:inline-block;width:auto;padding:0 15px;line-height:26px;border:1px solid #000;color:#fff;font-weight:bold;-moz-border-radius:4px;-webkit-border-radius:4px;}
					.shopping_cart .cart-total a.button:hover,.cart-module input.button:hover{background:#222;text-decoration:none;}			
					
					
.checkout-content{padding:15px;border:1px solid #ccc;border-width:0 1px;display:block;display:none;}
			.checkout-content .left{float:left;width:50%;}
				
			.checkout-content label{padding-top:5px;}
			 .checkout #content .checkout-content input.large-field,.checkout-content select{width:98%;margin-bottom:5px;}
					.checkout-content #shipping,.checkout-content #newsletter,.btnAgree{float:left;width:auto;}
				.checkout-content #content a{color:#fff;}
				
		.checkout .checkout-heading{background:#ddd url('../image/arrowDown.jpg') no-repeat left;color:#333;font-weight:bold;padding:5px 10px 5px 28px;font-size:12px;border-bottom:1px solid #ccc;border-top:1px solid #fff;line-height:24px} 		
		.checkout-heading a{float:right;width:auto;text-decoration:underline;color:#333;}
			.checkout-content .right{float:right;width:45%;}
			.checkout-content .buttons .right{float:none;}
		.checkout-content h2{background:url('../image/blockBtm.jpg') repeat-x bottom;font-size:14px;font-weight:bold;color:#CD303B;padding-bottom:5px;}
			.checkout-content radio{margin:0;}
			.checkout-content label{font-size:12px;color:#333;padding:3px 0;display:block;}
				.checkout-content input{padding:4px 0;}
				#content .checkout-content #login label{display:block;}
					#content .checkout-content #login input{margin-bottom:5px;}
				.checkout-content table td{font-size:12px;}
				.checkout-content span.required{color:#F33;font-size:12px;}
		#confirm{border-bottom:1px solid #ccc;}
		#confirm .right{float:none;width:auto;text-align:right;}
			#confirm table{width:100%;border-collapse:collapse;border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:5px;}
				#confirm table thead{background:#ddd;border-bottom:1px solid #ccc;}
					#confirm table thead td{text-align:center;padding:5px}
						#confirm table tr td{border-bottom:1px solid #ddd;padding:5px;text-align:center;}
			#confirm table tfoot td.price{text-align:right;border-bottom:0;}
			
	.checkout #content input,.checkout #content label{}

/* Warning */
.warning{color:#fff;background:#F33;padding:5px 15px;margin-bottom:5px;font-size:12px;font-weight:bold;text-align:center;}
	.warning img.close{padding:5px 10px;cursor:pointer;}
	
	span.error{color:#F33;font-size:11px;font-weight:bold;}
	
/* Pages */
#content h2{font-size:13px;color:#666;padding:5px 0;}
		#content label,#content input{display:inline-block;}
			#content label{font-size:12px;color:#333;padding-bottom:3px;}
				#content .required{color:#F33}
					b{font-size:12px;color:#333;}
					
		/* buttons */
		.product_returns .buttons{padding:10px 0}
		.product_returns .buttons a,.accountRegister a.button,.accountPage a.button,body.search a.button,.product_comparison .buttons a,.product_comparison a.button{background:#333;color:#fff;padding:4px 10px;-moz-border-radius:3px;}
		.product_returns .buttons a:hover,.accountRegister a.button:hover,.accountPage a.button:hover,body.search a.button:hover,.product_comparison .buttons a:hover,.product_comparison a.button:hover{background:#111;}
	
	/* Sitemap */
	.site_map ul li > ul{padding-left:15px;}
		.site_map ul li a:hover{text-decoration:underline;}
		
/* Account Page */
.accountPage,.accountRegister{float:left;width:725px;}
	.accountRegister .required{float:right;font-size:12px;}
		.accountRegister label,.accountRegister tr{font-size:12px;color:#333;}
			#content .accountRegister input,.accountRegister label{display:inline;}

/* Search */
body.search #content h1,#content h1.manu{padding:0 15px;}
	.manuBreadcrumb{padding-left:15px;}
body.search #content .right{width:655px;}
body.search .criteria{width:704px;border:1px solid #E2E2E2;padding:15px 1px 5px 15px;}
body.search .cat_items{float:none;}
	body.search #content input,body.search #content label{display:inline;}
		.criteria strong{color:#333;font-size:12px;padding-bottom:5px;}
			.search .buttons{padding:10px 0;}
		.search_list{margin-top:15px;}
			.search_list .heading{padding:5px 15px;background:#222;color:#fff;}

/* Compare Products */
.product_comparison .compare-info{border-collapse:collapse;border:1px solid #eee;}
	.product_comparison thead tr td{padding:10px;color:#333;background:#EEEEEE;font-size:12px;font-weight:bold;}
		.product_comparison tbody tr td{border:1px solid #eee;text-align:center;padding:10px;font-size:12px;color:#333;}

/* Updates */
.login-content .left{float:left;width:48%;padding-right:15px;}
	.login-content .right{float:left;width:45%;border-left:1px solid #e2e2e2;padding-left:15px;}
/* Account Page */
#accountPage{background:#fff;padding:10px 15px 25px;}
.accountPage,.accountRegister{float:left;width:725px;}
	.accountRegister .required{float:right;font-size:12px;}
		.accountRegister label,.accountRegister tr{font-size:12px;color:#333;}
			#content .accountRegister input,.accountRegister label{display:inline;}
			/* Account Page */
#accountPage h2{padding:5px 0;font-size:15px;}
.account_login #content  h1{border:1px solid #e2e2e2;padding-bottom:0}
	.account_login #content .login-content{clear:both;border:1px solid #e2e2e2;border-width:0 1px 1px;padding:0 10px;}
		.account_login #content .right{padding:15px}	
			.account_login #content .left{padding:15px 15px 15px 0}
				.account_login #content .button{margin:10px 0}

.accountWrap{width:700px;float:left;font-size:12px;color:#333;}
	.accountWrap .buttons,.accountWrap .order-info{padding:10px 0;}
	
	.accountPage,.accountRegister,.affiliateRegister{float:left;width:725px;}
	.accountBox{float:left;width:225px;}
		#content .accountBox h2{padding-bottom:10px;}
		.accountBox li{padding-bottom:8px;}
		.accountBox li a{padding:0 0 5px 0;display:block;line-height:6px;}
	
	.buttons .left{width:auto;display:inline;float:left;margin-right:10px;}	
	.buttons .left a{display:inline-block;}
	
	.accountPage form td{font-size:12px;font-weight:bold;color:#333;}
		.accountPage .buttons a{display:inline-block}
	
	.accountRegister .required{float:right;font-size:12px;}
		.accountRegister label,.accountRegister tr{font-size:12px;color:#333;}
			#content .accountRegister input,.accountRegister label{display:inline;}
			
	.login-content .left{float:left;width:48%;padding-right:15px;}
	.login-content .right{float:left;width:45%;border-left:1px solid #e2e2e2;padding-left:15px;}

/* Return */
form#return h2{font-size:14px;color:#333;padding:5px 0;border-bottom:1px solid #ddd;margin-bottom:5px;}
	#return-product{}
		#return-product > div{background:#f1f1f1;padding:10px;margin-bottom:8px;}
		.return-name,.return-model,.return-quantity{float:left;width:30%;}
				.return-name input,.return-model input,.return-quantity input{width:75%;}
			.return-reason{float:left;width:35%;padding-top:10px;}
			.return-opened{width:60%;float:right;}
/* Order Information */
.order_information table,.your_reward table,.my_wish table,.address_book table{border-collapse:collapse;border:1px solid #ccc;margin-bottom:10px;width:100%;}
	.order_information table td,.your_reward table td,.my_wish table td,.address_book table td{padding:10px;border:1px solid #ccc;font-size:12px;color:#333;}
		.order_information table thead td,.your_reward table thead td,.my_wish table thead td,.address_book table thead td{background:#f1f1f1;}
		
		#accountPage a.button span{background:none;padding:0}

/* orders */
.order-list {margin-bottom: 10px;}
.order-list .order-id {width: 49%;float: left;margin-bottom: 2px;}
.order-list .order-status {width: 49%;float: right;text-align: right;margin-bottom: 2px;}
.order-list .order-content {padding: 10px 0px;display: inline-block;width: 100%;margin-bottom: 20px;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE;}
.order-list .order-content div {float: left;width: 33.3%;}
.order-list .order-info {text-align: right;}
.order-detail {background: #EFEFEF;font-weight: bold;}
/* returns */
.return-list {margin-bottom: 10px;}
.return-list .return-id {width: 49%;float: left;margin-bottom: 2px;}
.return-list .return-status {width: 49%;float: right;text-align: right;margin-bottom: 2px;}
.return-list .return-content {padding: 10px 0px;display: inline-block;width: 100%;margin-bottom: 20px;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE;}
.return-list .return-content div {float: left;width: 33.3%;}
.return-list .return-info {text-align: right;}
.return-product {overflow: auto;margin-bottom: 20px;}
.return-name {float: left;width: 33.3%;}
.return-model {float: left;width: 33.3%;}
.return-quantity {float: left;width: 33.3%;}
.return-detail {overflow: auto;margin-bottom: 20px;}
.return-reason {float: left;width: 33.3%;}
.return-opened {float: left;width: 33.3%;}
.return-opened textarea {width: 98%;vertical-align: top;}
.return-remove {float: left;width: 33.3%;padding-top: 90px;text-align: center;vertical-align: middle;}
.return-additional {overflow: auto;margin-bottom: 20px;}
.return-comment {float: left;width: 49%;}
.return-captcha {float: right;width: 49%;}